<!DOCTYPE HTML>
<html>
<head>
	<title>Verification</title>
</head>
<body bgcolor="#FFFFFF" style="padding:0; margin:0;font-family: arial;">
    <div class=" row col-lg-12" style="min-width: 100%; font-weight:bold">
        <table bgcolor="#18BC9C" style="width: 100%; padding: 10px;">
            <tr>
            	<td style="self-align: left; padding:5px; color: white;">
                	<h2 class="collapse" style="float: left">Hi, <%=name%>!</h2>
                	<h2 class="collapse" style="float: right">@ReisMonrach</h2>
              	</td>
            </tr>
        </table>
    </div>
    <br>
    <div class="container" style="padding:10px;">
        To verify your email, please click the following link:
    	<br>
    	<a href="<%= link %>" style="margin-left: 20px;">Verify my account!</a>
    </div>
</body>
</html>